{% if view == "infocard_edit" %}
	<form action="#" class="{{prefix}}panel  {{mod}}">
		{% include "../page-header/elem.twig" with {
			prefix:"page-header__", 
			mod:heading_mod,
			attr:heading_attr, 
			level:heading_level, 
			heading:heading
		} %}
		<div class="{{prefix}}grid  grid__row  {{mod}}">
			{% include "elem.twig" with {
				view: "input", 
				prefix:'form__', 
				mod:'', 
				color:'', 
				list: [
					{
						"form_id":ID, 
						"id":"text1", 
						"name":"text1", 
						"type":"text", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Название",
						"placeholder":"Название"
					},
					{
						"form_id":ID, 
						"id":"text2", 
						"name":"text2", 
						"type":"text", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Наименование банка",
						"placeholder":"Наименование банка"
					},
					{
						"form_id":ID, 
						"id":"text3", 
						"name":"text3", 
						"type":"text", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Адрес банка",
						"placeholder":"Адрес банка"
					},
					{
						"form_id":ID, 
						"id":"text4", 
						"name":"text4", 
						"type":"text", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Расчётный счёт",
						"placeholder":"Расчётный счёт"
					},
					{
						"form_id":ID, 
						"id":"text5", 
						"name":"text5", 
						"type":"text", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Валюта счёта",
						"placeholder":"Валюта счёта"
					},
					{
						"form_id":ID, 
						"id":"text6", 
						"name":"text6", 
						"type":"text", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"БИК",
						"placeholder":"БИК"
					},
					{
						"form_id":ID, 
						"id":"text7", 
						"name":"text7", 
						"type":"text", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Кор. счёт",
						"placeholder":"Кор. счёт"
					}
			]} %}
		</div>
		<div class="{{prefix}}row  row  is--gutter-sm  is--gap-lg  {{mod}}">
			<div class="cols">				
				{% include "../button/btn.twig" with {
					view:"btn", 
					type:"submit", 
					prefix:"btn__", 
					mod:'is--full  is--primary', 
					name:'Сохранить' 
				} %}
			</div>
			<div class="cols">				
				{% include "../button/btn.twig" with {
					view:"btn", 
					type:"button", 
					prefix:"btn__", 
					mod:'is--full', 
					name:'Отменить' 
				} %}
			</div>
		</div>
	</form>
{% endif %}
{% if view == "profile_edit" %}
	<form action="#" class="{{prefix}}panel  {{mod}}">
		{% include "../page-header/elem.twig" with {
			prefix:"page-header__", 
			mod:heading_mod,
			attr:heading_attr, 
			level:heading_level, 
			heading:heading
		} %}
		<div class="{{prefix}}grid  grid__row  {{mod}}">
			{% include "elem.twig" with {
				view: "input", 
				prefix:'form__', 
				mod:'', 
				color:'', 
				list: [
					{
						"form_id":ID, 
						"id":"text1", 
						"name":"text1", 
						"type":"text", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Имя",
						"placeholder":"Имя"
					},
					{
						"form_id":ID, 
						"id":"text2", 
						"name":"text2", 
						"type":"text", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Фамилия",
						"placeholder":"Фамилия"
					},
					{
						"form_id":ID, 
						"id":"text3", 
						"name":"text3", 
						"type":"text", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Название компании",
						"placeholder":"Название компании"
					},
					{
						"form_id":ID, 
						"id":"text4", 
						"name":"text4", 
						"type":"text", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Телефон",
						"placeholder":"Телефон"
					},
					{
						"form_id":ID, 
						"id":"text5", 
						"name":"text5", 
						"type":"text", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Email",
						"placeholder":"Email"
					}
			]} %}
		</div>
		<div class="{{prefix}}row  row  is--gutter-sm  is--gap-lg  {{mod}}">
			<div class="cols">				
				{% include "../button/btn.twig" with {
					view:"btn", 
					type:"submit", 
					prefix:"btn__", 
					mod:'is--full  is--primary', 
					name:'Сохранить' 
				} %}
			</div>
			<div class="cols">	
			</div>
		</div>
	</form>
{% endif %}
{% if view == "pass_edit" %}
	<form action="#" class="{{prefix}}panel  {{mod}}">
		{% include "../page-header/elem.twig" with {
			prefix:"page-header__", 
			mod:heading_mod,
			attr:heading_attr, 
			level:heading_level, 
			heading:heading
		} %}
		<div class="{{prefix}}grid  grid__row  {{mod}}">
			{% include "elem.twig" with {
				view: "input", 
				prefix:'form__', 
				mod:'', 
				color:'', 
				list: [
					{
						"form_id":ID, 
						"id":"text1", 
						"name":"text1", 
						"type":"password", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Новый пароль",
						"placeholder":"Новый пароль"
					},
					{
						"form_id":ID, 
						"id":"text2", 
						"name":"text2", 
						"type":"password", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Повторите новый пароль",
						"placeholder":"Повторите новый пароль"
					}
			]} %}
		</div>
		<div class="{{prefix}}row  row  is--gutter-sm  is--gap-lg  {{mod}}">
			<div class="cols">				
				{% include "../button/btn.twig" with {
					view:"btn", 
					type:"submit", 
					prefix:"btn__", 
					mod:'is--full  is--primary', 
					name:'Сохранить' 
				} %}
			</div>
			<div class="cols">	
			</div>
		</div>
	</form>
{% endif %}
{% if view == "order_payer" %}
	<div class="{{prefix}}panel  {{mod}}">
		<div class="{{prefix}}grid  grid__row  {{mod}}">
			{% include "elem.twig" with {
				view: "input", 
				prefix:'form__', 
				mod:'', 
				color:'', 
				list: [
					{
						"form_id":ID, 
						"id":"text1", 
						"name":"text1", 
						"type":"text", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Фамилия, имя и отчество",
						"placeholder":"Фамилия, имя и отчество"
					},
					{
						"form_id":ID, 
						"id":"text2", 
						"name":"text2", 
						"type":"text", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Город",
						"placeholder":"Город"
					},
					{
						"form_id":ID, 
						"id":"text3", 
						"name":"text3", 
						"type":"text", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Расчётный счёт",
						"placeholder":"Расчётный счёт"
					}
			]} %}
		</div>
	</div>
{% endif %}
{% if view == "order_delivery" %}
	<div class="{{prefix}}panel  {{mod}}">
		<div class="{{prefix}}grid  grid__row  {{mod}}  is--gap-sm">
			{% include "elem.twig" with {
				view:"radio", 
				prefix:'form__', 
				mod:"is--panel", 
				color:"", 
				list: [
					{
						"mod":"", 
						"type":"panel", 
						"id":"radio1", 
						"form_id":ID, 
						"status":"", 
						"name":"Самовывоз", 
						"note":"Со склада, на следующий день, бесплатно", 
					},
					{
						"mod":"", 
						"type":"panel", 
						"id":"radio2", 
						"form_id":ID, 
						"status":"", 
						"name":"Курьером", 
						"note":"В любую точку, 5 дней, 550 ₽", 
					},
					{
						"mod":"", 
						"type":"panel", 
						"id":"radio3", 
						"form_id":ID, 
						"status":"", 
						"name":"Почтой", 
						"note":"По России, от 2 до 4 дней, 350 ₽", 
					}
				]
			} %}
		</div>
	</div>
{% endif %}
{% if view == "order_pay" %}
	<div class="{{prefix}}panel  {{mod}}">
		<div class="{{prefix}}grid  grid__row  {{mod}}  is--gap-sm">
			{% include "elem.twig" with {
				view:"radio", 
				prefix:'form__', 
				mod:"is--panel", 
				color:"", 
				list: [
					{
						"mod":"", 
						"type":"panel", 
						"id":"radio1", 
						"form_id":ID, 
						"status":"", 
						"name":"Картой", 
					},
					{
						"mod":"", 
						"type":"panel", 
						"id":"radio2", 
						"form_id":ID, 
						"status":"", 
						"name":"Наличными или картой курьеру", 
					}
				]
			} %}
		</div>
	</div>
{% endif %}
{% if view == "settings" %}
	<form action="#" class="{{prefix}}panel  {{mod}}">
		<div class="{{prefix}}section  {{mod}}">
			<h2 class="page-header__heading  is--page-default">Основное</h2>
			<div class="{{prefix}}grid  grid__row  {{mod}}  is--cols-2">
				{% include "elem.twig" with {
					view: "selectize", 
					prefix:'form__', 
					mod:'', 
					color:'', 
					list: [
						{
							"form_id":ID, 
							"id":"select1", 
							"name":"text1", 
							"type":"data-selectize-default", 
							"required": "required", 
							"error": "Обязательно к заполнению",
							"label": "Отображать в меню",
							"opt":[
								{"name":"Да"},
								{"name":"Нет"}
							]
						},
						{
							"form_id":ID, 
							"id":"select2", 
							"name":"text2", 
							"type":"data-selectize-default", 
							"required": "required", 
							"error": "Обязательно к заполнению",
							"label": "Название пункта меню",
							"opt":[
								{"name":"Каталог"},
								{"name":"Как-то ещё"}
							]
						},
						{
							"form_id":ID, 
							"id":"select3", 
							"name":"text3", 
							"type":"data-selectize-default", 
							"required": "required", 
							"error": "Обязательно к заполнению",
							"label": "Создание новых элементов",
							"opt":[
								{"name":"Да"},
								{"name":"Нет"}
							]
						},
						{
							"form_id":ID, 
							"id":"select4", 
							"name":"text4", 
							"type":"data-selectize-default", 
							"required": "required", 
							"error": "Обязательно к заполнению",
							"label": "Каталог для отображения",
							"opt":[
								{"name":"Товарный каталог CRM"},
								{"name":"Как-то ещё"}
							]
						}
				]} %}
			</div>
		</div>
		<div class="{{prefix}}section  {{mod}}">
			<h2 class="page-header__heading  is--page-default">Оформление</h2>
			<div class="{{prefix}}grid  grid__row  {{mod}}  is--cols-2">
				<div class="grid__row  is--gap-sm">
					{% include "elem.twig" with {
						view:"radio", 
						prefix:'form__', 
						mod:"is--panel", 
						color:"", 
						list: [
							{
								"mod":"", 
								"type":"panel", 
								"id":"radio1", 
								"form_id":ID, 
								"status":"", 
								"name":"Плитки", 
							},
							{
								"mod":"", 
								"type":"panel", 
								"id":"radio2", 
								"form_id":ID, 
								"status":"", 
								"name":"Список", 
							}
						]
					} %}
				</div>
			</div>
		</div>
		<div class="{{prefix}}section  {{mod}}">
			<h2 class="page-header__heading  is--page-default">Оплата и доставка</h2>
			<div class="{{prefix}}grid  grid__row  {{mod}}  is--cols-2">
				{% include "elem.twig" with {
					view: "selectize", 
					prefix:'form__', 
					mod:'', 
					color:'', 
					list: [
						{
							"form_id":ID, 
							"id":"select5", 
							"name":"select5", 
							"type":"data-selectize-default", 
							"required": "required", 
							"error": "Обязательно к заполнению",
							"label": "Платёжные системы для компаний",
							"placeholder": "Выберите из списка",
							"opt":[
								{"name":"visa"},
								{"name":"mastercard"},
								{"name":"Мир"}
							]
						},
						{
							"form_id":ID, 
							"id":"select6", 
							"name":"select6", 
							"type":"data-selectize-default", 
							"required": "required", 
							"error": "Обязательно к заполнению",
							"label": "Платёжные системы для физических лиц",
							"placeholder": "Выберите из списка",
							"opt":[
								{"name":"visa"},
								{"name":"mastercard"},
								{"name":"Мир"}
							]
						},
				]} %}
			</div>
		</div>
		<div class="{{prefix}}section  {{mod}}">
			<h2 class="page-header__heading  is--page-default">Свойства</h2>
			<div class="{{prefix}}grid  grid__row  {{mod}}  is--cols-2">
				{% include "elem.twig" with {
					view: "selectize", 
					prefix:'form__', 
					mod:'', 
					color:'', 
					list: [
						{
							"form_id":ID, 
							"id":"select7", 
							"name":"select7", 
							"type":"data-selectize-default", 
							"required": "required", 
							"error": "Обязательно к заполнению",
							"label": "В списке",
							"placeholder": "Выберите из списка",
							"opt":[
								{"name":"Да"},
								{"name":"Нет"}
							]
						},
						{
							"form_id":ID, 
							"id":"select8", 
							"name":"select8", 
							"type":"data-selectize-default", 
							"required": "required", 
							"error": "Обязательно к заполнению",
							"label": "Детальная карточка",
							"placeholder": "Выберите из списка",
							"opt":[
								{"name":"Да"},
								{"name":"Нет"}
							]
						},
						{
							"form_id":ID, 
							"id":"select8", 
							"name":"select8", 
							"type":"data-selectize-default", 
							"required": "required", 
							"error": "Обязательно к заполнению",
							"label": "Свойство «Артикул»",
							"text": "Используется для отображения в карточке товара, в поиске по товарам, при экспорте и при добавлении в корзину из файла",
							"placeholder": "Выберите из списка",
							"opt":[
								{"name":"Да"},
								{"name":"Нет"}
							]
						},
				]} %}
			</div>
		</div>
		<div class="{{prefix}}section  {{mod}}">
			<h2 class="page-header__heading  is--page-default">Поиск</h2>
			<div class="{{prefix}}grid  grid__row  {{mod}}  is--cols-2">
				{% include "elem.twig" with {
					view: "selectize", 
					prefix:'form__', 
					mod:'', 
					color:'', 
					list: [
						
						{
							"form_id":ID, 
							"id":"select9", 
							"name":"select9", 
							"type":"data-selectize-default", 
							"required": "required", 
							"error": "Обязательно к заполнению",
							"label": "Свойства для индексирования",
							"placeholder": "Выберите из списка",
							"opt":[
								{"name":"Да"},
								{"name":"Нет"}
							]
						},
				]} %}
			</div>
		</div>
		<div class="{{prefix}}row  row  is--gutter-sm  is--gap-lg  {{mod}}">
			<div class="cols">				
				{% include "../button/btn.twig" with {
					view:"btn", 
					type:"submit", 
					prefix:"btn__", 
					mod:'is--full  is--primary', 
					name:'Сохранить' 
				} %}
			</div>
			<div class="cols">	
			</div>
		</div>
	</form>
{% endif %}
{% if view == "login" %}
	<form action="#" class="{{prefix}}panel  {{mod}}">
		<div class="{{prefix}}grid  grid__row">
			{% include "elem.twig" with {
				view: "input", 
				prefix:'form__', 
				mod:'', 
				color:'', 
				list: [
					{
						"form_id":ID, 
						"id":"text1", 
						"name":"text1", 
						"type":"text", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Логин/E-mail",
						"placeholder":"Логин/E-mail"
					},
					{
						"form_id":ID, 
						"id":"text2", 
						"name":"text2", 
						"type":"text", 
						"required": "required", 
						"error": "Обязательно к заполнению",
						"label":"Пароль",
						"placeholder":"Пароль"
					}
				]
			} %}
			<p>
			{% include "../button/btn.twig" with {
				view:"btn", 
				type:"submit", 
				prefix:"btn__", 
				mod:'is--primary', 
				name:'Войти' 
			} %}
			</p>
		</div>
	</form>
{% endif %}