{% if view == "catalog" %}
	{% for value in list %}	
	<table class="{{prefix}}item  {{mod}}  {{group}}">
		<tr>
			<td class="{{prefix}}wrap  is--checkbox  {{mod}}">
				{% include "../form/elem.twig" with {
					view:"checkbox", 
					prefix:'form__', 
					mod:"", 
					color:"", 
					list: [
						{
							"id":"agreement", 
							"form_id":ID, 
							"status":"", 
							"name":"", 
						}
					]
				} %}
			</td>			
			<td class="{{prefix}}wrap  is--prev  {{mod}}">
				<picture class="{{prefix}}preview  {{mod}}">
					<img src="{{value.img}}" class="img-responsive" alt="">
				</picture>
			</td>
			<td class="{{prefix}}wrap  is--decs  {{mod}}">
				<h5 class="{{prefix}}heading  {{mod}}">{{value.heading}}</h5>
				{% if value.code %}
				<p class="{{prefix}}code  {{mod}}">Артикул: {{value.code}}</p>
				{% endif %}
				{% if value.decs %}
				<dl class="{{prefix}}decs  {{mod}}">
					{% for d in value.decs %}
						<div>
							<dt>{{d.name}}</dt>
							<dd>{{d.value}}</dd>
						</div>
					{% endfor %}
				</dl>
				{% endif %}
			</td>
			<td class="{{prefix}}wrap  is--param  {{mod}}">
				{% if value.size or value.color %}
				<div class="{{prefix}}group  is--param  {{mod}}">
					{% if value.size %}
					<div class="{{prefix}}size-wrap  {{mod}}">
						<p class="{{prefix}}size-heading  {{mod}}">Выберите размер</p>
						<ul class="{{prefix}}size-list  {{mod}}">
						{% for s in value.size %}
							<li class="{{prefix}}size-item  {{mod}}">
								<label class="{{prefix}}size-radio  {{mod}}">
									<input type="radio" name="size_{{id}}" id="{{s.name}}" class="{{prefix}}size-input  {{mod}}">
									<span class="{{prefix}}size-radio-name  {{mod}}">{{s.name}}</span>
								</label>
							</li>
						{% endfor %}
						</ul>
					</div>
					{% endif %}
					{% if value.color %}
					<div class="{{prefix}}color-wrap  {{mod}}">
						<p class="{{prefix}}color-heading  {{mod}}">Выберите цвет</p>
						<ul class="{{prefix}}color-list  {{mod}}">
						{% for c in value.color %}
							<li class="{{prefix}}color-item  {{mod}}">
								<label class="{{prefix}}color-radio  {{mod}}" title="{{c.name}}">
									<input type="radio" name="color_{{id}}" id="{{c.name}}" class="{{prefix}}color-input  {{mod}}">
									<span class="{{prefix}}color-radio-view  {{mod}}" style="background-color: {{c.color}}"></span>
								</label>
							</li>
						{% endfor %}
						</ul>
					</div>
					{% endif %}
				</div>	
				{% endif %}
			</td>	
			<td class="{{prefix}}wrap  is--cost  {{mod}}">				
				{% if value.cost_list %}
				<dl class="{{prefix}}cost-list  {{mod}}">
					{% for cl in value.cost_list %}
						<div class="{{prefix}}cost-item  {{mod}}">
							<dt>{{cl.name}}</dt>
							<dd>{{cl.value}}</dd>						
						</div>
					{% endfor %}
				</dl>
				{% endif %}				
				{% if value.cost %}
				<dl class="{{prefix}}cost-group  {{mod}}">	
					{% if value.cost_old %}
					<div class="{{prefix}}cost-value  {{mod}}  is--old">
						<dt>Старая цена</dt>
						<dd>{{value.cost_old}}</dd>						
					</div>
					{% endif %}	
					<div class="{{prefix}}cost-value  {{mod}}">
						<dt>Цена со скидкой</dt>
						<dd>{{value.cost}}</dd>						
					</div>
				</dl>
				{% endif %}	
			</td>
			<td class="{{prefix}}wrap  is--modal  {{mod}}">
				{% include "../button/btn.twig" with {
					view:"btn",
					prefix:"btn__", 
					attr:'data-toggle="modal" data-target="#modal-add-basket"',
					mod:"is--primary",   
					name:"Выбрать"
				} %}
			</td>	
			<td class="{{prefix}}wrap  is--btn  {{mod}}">
				<div class="{{prefix}}group  is--btn  {{mod}}">
					{% if value.qty %}
					<p class="{{prefix}}qty  {{mod}}" style="color: {{value.qty_color}}">
						В наличие {{value.qty}} шт.
					</p>
					{% endif %}
					<button type="button" class="btn__item  is--primary">{{value.btn}}</button>
				</div>
			</td>
		</tr>
	</table>
	{% endfor %}
{% endif %}
{% if view == "catalog_modal" %}
	{% for value in list %}	
	<div class="{{prefix}}item  {{mod}}  {{group}}">
		{% if value.size %}
		<div class="{{prefix}}size-wrap  {{mod}}">
			<p class="{{prefix}}size-heading  {{mod}}">Выберите размер</p>
			<ul class="{{prefix}}size-list  {{mod}}">
			{% for s in value.size %}
				<li class="{{prefix}}size-item  {{mod}}">
					<label class="{{prefix}}size-radio  {{mod}}">
						<input type="radio" name="size_{{id}}" id="{{s.name}}" class="{{prefix}}size-input  {{mod}}">
						<span class="{{prefix}}size-radio-name  {{mod}}">{{s.name}}</span>
					</label>
				</li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
		{% if value.color %}
		<div class="{{prefix}}color-wrap  {{mod}}">
			<p class="{{prefix}}color-heading  {{mod}}">Выберите цвет</p>
			<ul class="{{prefix}}color-list  {{mod}}">
			{% for c in value.color %}
				<li class="{{prefix}}color-item  {{mod}}">
					<label class="{{prefix}}color-radio  {{mod}}" title="{{c.name}}">
						<input type="radio" name="color_{{id}}" id="{{c.name}}" class="{{prefix}}color-input  {{mod}}">
						<span class="{{prefix}}color-radio-view  {{mod}}" style="background-color: {{c.color}}"></span>
					</label>
				</li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
		<div class="{{prefix}}group  is--btn  {{mod}}">
			<button type="button" class="btn__item  is--primary">{{value.btn}}</button>
			{% if value.qty %}
			<p class="{{prefix}}qty  {{mod}}" style="color: {{value.qty_color}}">
				В наличие {{value.qty}} шт.
			</p>
			{% endif %}
		</div>
	</div>
	{% endfor %}
{% endif %}
{% if view == "basket" %}
	{% for value in list %}	
	<table class="{{prefix}}item  {{mod}}  {{group}}">
		<tr>			
			<td class="{{prefix}}wrap  is--prev  {{mod}}">
				<picture class="{{prefix}}preview  {{mod}}">
					<img src="{{value.img}}" class="img-responsive" alt="">
				</picture>
			</td>
			<td class="{{prefix}}wrap  is--heading  {{mod}}">
				<h5 class="{{prefix}}heading  {{mod}}">{{value.heading}}</h5>
			</td>
			<td class="{{prefix}}wrap  is--decs  {{mod}}">
				<p class="{{prefix}}decs  {{mod}}">{{value.decs}}</p>
			</td>	
			<td class="{{prefix}}wrap  is--cost  {{mod}}">
				{% if value.cost %}
				<p class="{{prefix}}cost-value  {{mod}}">
					{{value.cost}}					
				</p>
				{% endif %}	
			</td>
			<td class="{{prefix}}wrap  is--qty  {{mod}}">
				{% include "../form/elem.twig" with {
					view:"qty", 
					prefix:'form__',
					value: value.qty
				} %}
			</td>	
			<td class="{{prefix}}wrap  is--del  {{mod}}">
				{% include "../button/btn.twig" with {
					view:"icon",
					prefix:"btn__", 
					mod:"is--outline", 
					icon:'icon-del', 
					attr: value.btn_attr,
					link:"#", 
					name:"Удалить" 
				} %}
				
			</td>
		</tr>
	</table>
	{% endfor %}
{% endif %}

{% if view == "base" %}
	{% for value in list %}	
	<div class="{{prefix}}item  {{mod}}">
		<picture class="{{prefix}}preview  {{mod}}">
			<img src="{{value.img}}" class="img-responsive" alt="">
		</picture>
		<div>
			<h5 class="{{prefix}}heading  {{mod}}">{{value.heading}}</h5>
			<div class="{{prefix}}note  {{mod}}">{{value.note}}</div>
		</div>
	</div>
	{% endfor %}
{% endif %}