{% if view == "all" %}
	{# <div class="{{prefix}}block  {{mod}}" id="map-2gis" data-map='{"center" : {{center_coord}},"zoom" : {{zoom}}, "placemarks" : [{{list}}]}' ></div> #}
	<div class="{{prefix}}block  {{mod}}" id="map-2gis" data-map='{"center" : {{center}},"zoom" : {{zoom}}, "placemarks" : [{"coord" : [52.976970,36.068041], "heading": "Центральный офис"}, {"coord" : [51.656942,39.177308], "heading": "Офис в Воронеже"}, {"coord" : [45.044355,38.981799], "heading": "Офис в Краснодаре"}, {"coord" : [55.809160,37.612021], "heading": "Офис в Москве"}, {"coord" : [59.959012,30.313523], "heading": "Офис в Санкт-Петербурге"}]}' ></div>

{% endif %}

{% if view == "partners" %}
	<div class="{{prefix}}block  {{mod}}" id="map-2gis" data-map='{"center" : {{center}},"zoom" : {{zoom}}, "placemarks" : [{"coord" : [52.976970,36.068041], "heading": "ООО «Федеральный Оператор Недвижимости»"},{"coord" : [52.967936,36.056947], "heading": "ОрелАрхПроект"},{"coord" : [52.977308,36.062268], "heading": "ООО «РФН «Пенаты»"},{"coord" : [52.96065,36.065422], "heading": "РК&nbsp;«ГородЪ»&nbsp;— Центральный офис"},{"coord" : [52.969519,36.077342], "heading": "РК&nbsp;«ГородЪ»&nbsp;— Офис на Ст. Разина"},{"coord" : [52.944846,36.049254], "heading": "РК&nbsp;«ГородЪ»&nbsp;— Офис на Латышских Стрелков"},{"coord" : [52.972915,36.089637], "heading": "АН&nbsp;«Жилторг»"}]}' ></div>
{% endif %}

{% if view == "address" %} 

<div class="{{prefix}}block  {{mod}}"> 
	{% set i = 0 %}
	{% for value in list %}	
	{% set i = i + 1 %}
	<div class="{{prefix}}group  {% if i == "1" %}is--open{% endif %}  {{mod}}">
		<button type="button" class="{{prefix}}heading  {{mod}}" data-office  data-coord="{{value.coord}}" title="Показать на карте">Офис в {{value.city}}:</button>
		<div class="{{prefix}}list  {{mod}}">
			<div class="{{prefix}}item  is--address  {{mod}}">
				{{value.address}}
			</div>
			<div class="{{prefix}}item  is--email  {{mod}}">
				<a href="mailto:{{value.email}}">{{value.email}}</a>
			</div>
			<div class="{{prefix}}item  is--phone  {{mod}}">
				<a href="tel:{{value.phone_tel}}">{{value.phone}}</a>
			</div>
			<div class="{{prefix}}item  is--site  {{mod}}">
				<a href="https://{{value.site}}/"  target="_blank">{{value.site}}</a>
			</div>
		</div>
	</div> 
	{% endfor %}
	{% if btn == "reviews" %}
	<div class="{{block_prefix}}group  is--btn  {{block_mod}}">
		{% include "../../common/button/btn.twig" with {view:"modal",prefix:"btn__", mod:"is--sm", target:"modal-form", name:"Задать вопрос", m_heading:"Задать вопрос", m_heading_sm:"Мы перезвоним вам в ближайшее время", m_btn:"Отправить" } %}
	</div>
	{% endif %}
</div>
{% endif %}

{% if view == "contacts" %}
	<div class="{{prefix}}block  {{mod}}" id="map-2gis" data-map='{"center" : {{center_coord}},"zoom" : {{zoom}}, "placemarks" : [{"coord" : {{point_coord}}, "heading": "{{point_heading}}"}]}' ></div>
{% endif %}