<div class="{{prefix}}block modals  fade  {{mod}}" id="{{ID}}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="{{prefix}}dialog  {{mod}}">
		<div class="{{prefix}}body  {{mod}}" >
			<button type="button" class="{{prefix}}btn-close  modal-close" data-dismiss="modal" aria-hidden="true">
				{% include "../svg-sprite/svg.twig" with {icon:"icon-close"} %}
			</button>
			<div class="{{prefix}}content  {{mod}}">
				{% if ID == "modal-edit" %}
					{% include "../form/form.twig" with {
						view: 			"infocard_edit", 
						prefix:			"form__",
						mod:			"is--modal", 
						color:			"", 
						ID: 			"fm_edit",
						heading:		"Расчётный счёт", 
						heading_level:	"h2", 
						heading_group:	"", 
						heading_mod:	"is--h1  is--modal",
					} %}
				{% endif %}
			</div> 
		</div>
	</div>
</div>