<div class="{{prefix}}block modals  fade  {{mod}}" id="{{ID}}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="{{prefix}}dialog  {{mod}}">
		<div class="{{prefix}}body  {{mod}}" >
			<button type="button" class="{{prefix}}btn-close  modal-close" data-dismiss="modal" aria-hidden="true">
				{% include "../svg-sprite/svg.twig" with {icon:"icon-close"} %}
			</button>
			{# <div class="{{prefix}}content  {{mod}}"> #}
				{% if ID == "modal-edit" %}
					{% include "../form/form.twig" with {
						view: 			"infocard_edit", 
						prefix:			"form__",
						mod:			"is--modal", 
						color:			"", 
						ID: 			"fm_edit",
						heading:		"Расчётный счёт", 
						heading_level:	"h2", 
						heading_group:	"", 
						heading_mod:	"is--h1  is--modal",
					} %}
				{% endif %}
				{% if ID == "modal-events" %}
					{% include "../page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
					{% include "../events/tpl.twig" with {
						prefix:"events__", 
						mod: '',
						list: list 
					} %}
				{% endif %}
				{% if ID == "modal-chat" %}
					{% include "../page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
					{% include "../chat/tpl.twig" with {
						prefix:"chat__",
						chat: chat
					} %}
				{% endif %}
			{# </div>  #}
		</div>
	</div>
</div>