<div class="{{prefix}}block modals  fade  {{mod}}" id="{{ID}}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="{{prefix}}dialog  {{mod}}">
		<div class="{{prefix}}body  {{mod}}  {% if view == "null" %}is--null{% endif %}" {% if view == "null" %}style="background-image: url({{bg}});"{% endif %}>
			<button type="button" class="{{prefix}}btn-close  {{mod}}" data-dismiss="modal" aria-hidden="true">
				{% include "../svg-sprite/svg.twig" with {icon:"icon-close"} %}
			</button>
			{# <div class="{{prefix}}content  {{mod}}"> #}
				{% if view == "form" %}
					{% include "../form/form.twig" with {
						view: 			form_view, 
						prefix:			"form__",
						mod:			"is--modal", 
						color:			"", 
						ID: 			form_id,
						heading:		heading, 
						heading_level:	heading_level, 
						heading_mod:	heading_mod,
					} %}
				{% endif %}
				{% if ID == "modal-filter" %}
					{% include "../page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
					{% include "../form/form.twig" with {
						view: 			"filter", 
						prefix:			"form__",
						mod:			"is--filter",  
					} %}
				{% endif %}
				{% if ID == "modal-add-basket" %}
					{% include "../page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
					{% include "../card/card.twig" with {
						view:"catalog_modal",
						prefix:"card__", 
						mod:"is--catalog", 
						group:"is--view-modal", 
						list: [
							{					
								"size":[
									{
										"name":"S",
									},
									{
										"name":"M",
									},
									{
										"name":"L",
									},
									{
										"name":"XL",
									},
									{
										"name":"XXL",
									},
								],
								"color":[
									{
										"name":"Orange",
										"color":"orange",
									},
									{
										"name":"Yellow",
										"color":"yellow",
									},
									{
										"name":"Green",
										"color":"green",
									},
									{
										"name":"Blue",
										"color":"blue",
									},
									{
										"name":"Purple",
										"color":"purple",
									},
								],
								"qty":"5",
								"qty_color":"#EB5757",
								"btn": "В корзину"
							},
						]
					} %}
				{% endif %}
				{% if ID == "modal-events" %}
					{% include "../page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
					{% include "../events/tpl.twig" with {
						prefix:"events__", 
						mod: '',
						view: view,
						list: list,
					} %}
				{% endif %}
				{% if ID == "modal-chat" %}
					{% include "../page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
					{% include "../chat/tpl.twig" with {
						prefix:"chat__",
						chat: chat
					} %}
				{% endif %}
				{% if view == "basket_order" %}
					{% include "../page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
					<div class="{{content_prefix}}section  {{content_mod}}  is--order">
						<div class="{{content_prefix}}card  {{content_mod}}">
							<div class="grid__row  is--gap-sm">
								{% include "../card/card.twig" with {
									view:"basket",
									prefix:"card__", 
									mod:"is--basket", 
									group:"is--view-order", 
									list: [
										{					
											"link":"#",
											"img": [path.img,"/default/catalog-lock.jpg"].join(""), 	 
											"heading":"Услуги по ликвидации юридического&nbsp;лица",
											"decs":'S, жёлтый',
											"cost":'19 000 ₽',
											"qty":"19",
										},
										{					
											"link":"#",
											"img": [path.img,"/default/catalog-lock.jpg"].join(""), 	 
											"heading":"Регистрация ИП",
											"decs":'S, жёлтый',
											"cost":'500 ₽',
											"qty":"19",
										},
										{					
											"link":"#",
											"img": [path.img,"/default/catalog-lock.jpg"].join(""), 	 
											"heading":"Услуги по ликвидации юридического&nbsp;лица",
											"decs":'S, жёлтый',
											"cost":'19 000 ₽',
											"qty":"19",
										},
										{					
											"link":"#",
											"img": [path.img,"/default/catalog-lock.jpg"].join(""), 	 
											"heading":"Регистрация ИП",
											"decs":'S, жёлтый',
											"cost":'500 ₽',
											"qty":"19",
										},
										{					
											"link":"#",
											"img": [path.img,"/default/catalog-lock.jpg"].join(""), 	 
											"heading":"Услуги по ликвидации юридического&nbsp;лица",
											"decs":'S, жёлтый',
											"cost":'19 000 ₽',
											"qty":"19",
										},
										{					
											"link":"#",
											"img": [path.img,"/default/catalog-lock.jpg"].join(""), 	 
											"heading":"Регистрация ИП",
											"decs":'S, жёлтый',
											"cost":'500 ₽',
											"qty":"19",
										},
										{					
											"link":"#",
											"img": [path.img,"/default/catalog-lock.jpg"].join(""), 	 
											"heading":"Услуги по ликвидации юридического&nbsp;лица",
											"decs":'S, жёлтый',
											"cost":'19 000 ₽',
											"qty":"19",
										},
										{					
											"link":"#",
											"img": [path.img,"/default/catalog-lock.jpg"].join(""), 	 
											"heading":"Регистрация ИП",
											"decs":'S, жёлтый',
											"cost":'500 ₽',
											"qty":"19",
										},
									]
								} %}
							</div>
						</div>
					</div>
				{% endif %}
				{% if view == "catalog_card" %}
					<div class="{{content_prefix}}row  row  {{content_mod}}  is--heading">
						<div class="cols">					
							{% include "../page-header/elem.twig" with {
								prefix:"page-header__", 
								mod:heading_mod,
								attr:heading_attr, 
								level:heading_level, 
								heading:heading
							} %}
						</div>
						<div class="cols  is--code">
							{% if code %}
							<p class="card__code  {{card_mod}}">{{code}}</p>
							{% endif %}
						</div>
					</div>

					<div class="{{content_prefix}}grid  grid__row  {{content_mod}}">
						<div>
							<div class="{{content_prefix}}slick  {{content_mod}}" data-slick-catalog-card>
								{% for sl in slider %}
								<picture class="card__preview  {{card_mod}}">
									<img src="{{sl.img}}" class="img-responsive" alt="">
								</picture>
								{% endfor %}
							</div>

							{% if slider_nav == "true" %}
							<div class="{{content_prefix}}slick  {{content_mod}}" data-slick-catalog-card-nav>
								{% for sl in slider %}
								<picture class="card__preview  {{card_mod}}-nav">
									<img src="{{sl.img}}" class="img-responsive" alt="">
								</picture>
								{% endfor %}
							</div>
							{% endif %}

							{% if note_short %}
							<div class="card__note  {{content_mod}}">{{note_short}}</div>
							{% endif %}

							{% if size %}
							<div class="card__size-wrap  {{content_mod}}  hidden--md">
								<div class="form__grid  grid__row  {{content_mod}}">
									{% include "../form/elem.twig" with {
										view:"radio", 
										prefix:'form__', 
										mod:"is--panel  is--desc", 
										color:"", 
										list: size,
									} %}
								</div>
							</div>
							{% endif %}
						</div>
						<div>
							<div>
								{% include "../tabs/tpl.twig" with {
									view:"base", 
									prefix:'tabs__', 
									mod:"",
									group:tabs_group,
									list: tabs,
								} %}
							</div>
							{% if informer %}
								{% include "../informer/tpl.twig" with {
									prefix:"informer__", 
									status:"hidden--md",  
									mod:informer_type,  
									btn_link:"#", 
									btn_name:"В корзину", 
									btn_mod:"is--primary  is--full",
									modal:"Выбрать", 
									modal_prefix:"btn__", 
									modal_attr:'type="button" data-toggle="modal" data-target="#modal-add-basket"',
									modal_mod:"is--primary  is--full",
									cost_list_view:"catalog_cost_list",
									cost_list_mod: card_mod,
									cost_list:[
										{
											"name":"От 500 шт.",
											"value":"7 900 ₽",
										},
										{
											"name":"От 1 000 шт.",
											"value":"6 900 ₽",
										},
										{
											"name":"От 1 500 шт.",
											"value":"5 900 ₽",
										},
									], 
									qty:"5",
								} %}	
							{% endif %}				
						</div>
						{% if options %}
						<div class="is--full">	
							<div class="{{content_prefix}}grid  grid__row  {{content_mod}}  is--options">						
								{% include "../card/card.twig" with {
									view:"catalog",
									prefix:"card__", 
									mod:"is--catalog", 
									group:"is--view-list  is--options",
									list: options,
								} %}
							</div>
						</div>
						{% endif %}
						{% if options_table %}
						<div class="is--full">	
							<div class="{{content_prefix}}slick  {{content_mod}}" data-slick-catalog-card-table>
								{% include "../card/card.twig" with {
									view:"catalog",
									prefix:"card__", 
									mod:"is--catalog", 
									group:"is--view-table",
									list: options_table,
								} %}
							</div>
						</div>
						{% endif %}
					</div>
				{% endif %}
				{% if view == "catalog_card_view" %}
					<div class="{{content_prefix}}grid  grid__row  {{content_mod}}  is--modal">
						<div>
							<div class="{{content_prefix}}slick  {{content_mod}}" data-slick-catalog-card>
								{% for sl in slider %}
								<picture class="card__preview  {{card_mod}}">
									<img src="{{sl.img}}" class="img-responsive" alt="">
								</picture>
								{% endfor %}
							</div>

							{% if slider_nav == "true" %}
							<div class="{{content_prefix}}slick  {{content_mod}}" data-slick-catalog-card-nav>
								{% for sl in slider %}
								<picture class="card__preview  {{card_mod}}-nav">
									<img src="{{sl.img}}" class="img-responsive" alt="">
								</picture>
								{% endfor %}
							</div>
							{% endif %}

							{% if note_short %}
							<div class="card__note  {{content_mod}}">{{note_short}}</div>
							{% endif %}

							{% if size %}
							<div class="card__size-wrap  {{content_mod}}  hidden--md">
								<div class="form__grid  grid__row  {{content_mod}}">
									{% include "../form/elem.twig" with {
										view:"radio", 
										prefix:'form__', 
										mod:"is--panel  is--desc", 
										color:"", 
										list: size,
									} %}
								</div>
							</div>
							{% endif %}
						</div>
						<div>
							{% include "../page-header/elem.twig" with {
								prefix:"page-header__", 
								mod:heading_mod,
								attr:heading_attr, 
								level:heading_level, 
								heading:heading
							} %}
							{% if code %}
							<p class="card__code  {{card_mod}}">{{code}}</p>
							{% endif %}
							<div>								
								{% if informer %}
									{% include "../informer/tpl.twig" with {
										prefix:"informer__", 
										status:"",  
										mod:informer_type,  
										btn_link:"#", 
										btn_mod:"is--primary  is--full",
										modal_prefix:"btn__", 
										modal_attr:'type="button" data-toggle="modal" data-target="#modal-select-basket"',
										modal_mod:"is--primary  is--full",
										cost_list_view:"catalog_cost_list",
										cost_list_mod: card_mod,
										cost_list:[
											{
												"name":"От 500 шт.",
												"value":"7 900 ₽",
											},
											{
												"name":"От 1 000 шт.",
												"value":"6 900 ₽",
											},
											{
												"name":"От 1 500 шт.",
												"value":"5 900 ₽",
											},
										], 
									} %}	
								{% endif %}	
							</div>			
						</div>
						<div class="is--full">	
							{% include "../card/card.twig" with {
								view: desc_view,
								prefix:"card__", 
								mod:  desc_mod, 
								list: desc_list
							} %}
						</div>
						<div class="is--full">	
							{{note}}
						</div>
						{% if options %}
						<div class="is--full">	
							<div class="{{content_prefix}}grid  grid__row  {{content_mod}}  is--options">						
								{% include "../card/card.twig" with {
									view:"catalog",
									prefix:"card__", 
									mod:"is--catalog", 
									group:"is--view-list  is--options",
									list: options,
								} %}
							</div>
						</div>
						{% endif %}
					</div>
				{% endif %}
			{# </div>  #}
		</div>
	</div>
	{% if view == "catalog_card" %}
		{% if informer %}
			{% include "../informer/tpl.twig" with {
				prefix:"informer__", 
				status:"visible--md",
				mod:informer_type,  
				modal:"Выбрать", 
				modal_prefix:"btn__",
				modal_attr:'type="button" data-toggle="modal" data-target="#modal-add-basket"',
				modal_mod:"is--primary  is--full",
			} %}	
		{% endif %}
	{% endif %}
</div>