{% if view == "page" %}
	<section class="{{content_prefix}}content">
		<div class="{{content_prefix}}container container">
			{% include "../common/page-header/elem.twig" with {
				prefix:"page-header__", 
				mod:heading_mod,
				attr:heading_attr, 
				level:heading_level, 
				heading:heading
			} %}
			<div class="{{content_prefix}}row  row  {{content_mod}}">
				<div class="cols  is--search">
					{% include "../common/form/elem.twig" with {
						view: "search", 
						prefix:'form__', 
						mod:'', 
						color:'',
						placeholder:"Поиск по каталогу",
					} %}
				</div>
				<div class="cols  hidden--md">
					{% include "../common/button/btn.twig" with {
						view:"icon",
						prefix:"btn__", 
						mod:"", 
						icon:'icon-upload', 
						link:"#", 
						name:"Скачать" 
					} %}
				</div>
				<div class="cols  hidden--md">
					{% include "../common/button/btn.twig" with {
						view:"icon",
						prefix:"btn__", 
						mod:"", 
						icon:'icon-print', 
						link:"#", 
						name:"Напичатать" 
					} %}
				</div>
			</div>

			<div class="{{content_prefix}}section  {{content_mod}}" >
				<div data-slick-catalog >
					<div class="{{content_prefix}}row  row  is--gap-xs  is--heading  {{content_mod}}">
						<div class="cols">
							<h2>Регистрационные услуги</h2>
						</div>
						<div class="cols">
							{% include "../common/button/btn.twig" with {
								view:"next",
								prefix:"btn__", 
								mod:"",  
								link:page.catalog_cat
							} %}
						</div>
						<div class="cols  hidden--md  is--slick-nav">
							<div class="slick-navigation">
								<button type="button" class="slick-btn  is--prev  is--inline"><span class="sr-only">Предыдущий слайд</span></button>
								<div class="slick-count"></div>
								<button type="button" class="slick-btn  is--next  is--inline"><span class="sr-only">Следующий слайд</span></button>
							</div>
						</div>
					</div>					
					{% include "../common/card/card.twig" with {
						view:"catalog",
						prefix:"card__", 
						mod:"is--catalog", 
						group:"is--view-card", 
						list: list1
					} %}
				</div>
			</div>

			<div class="{{content_prefix}}section  {{content_mod}}" >
				<div data-slick-catalog >
					<div class="{{content_prefix}}row  row  is--gap-xs  is--heading  {{content_mod}}">
						<div class="cols">
							<h2>Внесение изменений</h2>
						</div>
						<div class="cols">
							{% include "../common/button/btn.twig" with {
								view:"next",
								prefix:"btn__", 
								mod:"",  
								link:page.catalog_cat
							} %}
						</div>
						<div class="cols  hidden--md  is--slick-nav">
							<div class="slick-navigation">
								<button type="button" class="slick-btn  is--prev  is--inline  prev2"><span class="sr-only">Предыдущий слайд</span></button>
								<div class="slick-count"></div>
								<button type="button" class="slick-btn  is--next  is--inline  next2"><span class="sr-only">Следующий слайд</span></button>
							</div>
						</div>
					</div>					
					{% include "../common/card/card.twig" with {
						view:"catalog",
						prefix:"card__", 
						mod:"is--catalog", 
						group:"is--view-card", 
						list: list2
					} %}
				</div>
			</div>

			<div class="{{content_prefix}}section  {{content_mod}}" >
				<div data-slick-catalog >
					<div class="{{content_prefix}}row  row  is--gap-xs  is--heading  {{content_mod}}">
						<div class="cols">
							<h2>Бухгалтерские услуги</h2>
						</div>
						<div class="cols">
							{% include "../common/button/btn.twig" with {
								view:"next",
								prefix:"btn__", 
								mod:"",  
								link:page.catalog_cat
							} %}
						</div>
						<div class="cols  hidden--md  is--slick-nav">
							<div class="slick-navigation">
								<button type="button" class="slick-btn  is--prev  is--inline"><span class="sr-only">Предыдущий слайд</span></button>
								<div class="slick-count"></div>
								<button type="button" class="slick-btn  is--next  is--inline"><span class="sr-only">Следующий слайд</span></button>
							</div>
						</div>
					</div>					
					{% include "../common/card/card.twig" with {
						view:"catalog",
						prefix:"card__", 
						mod:"is--catalog", 
						group:"is--view-card", 
						list: list3
					} %}
				</div>
			</div>
			
		</div>
	</section>
{% endif %}

{% if view == "cat" %}
	<section class="{{content_prefix}}content">
		<div class="{{content_prefix}}container container">
			{% include "../common/breadcrumb/tpl.twig" with {
				prefix:prefix.breadcrumb, 
				mod:bread_mod, 
				bread:bread
			} %}

			<div class="{{content_prefix}}row  row  {{content_mod}}  is--heading">
				<div class="cols">					
					{% include "../common/page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
				</div>
				<div class="cols  is--view  hidden--md">
					{% include "../common/button/btn.twig" with {
						view:"view",
						prefix:"btn__", 
						mod:"",  
						list: [
							{
								"name":"Таблицей", 
								"link":page.catalog_cat_list,
							},
							{
								"name":"Плиткой", 
								"link":page.catalog_cat,
							},
						]
					} %}
				</div>
			</div>

			<div class="{{content_prefix}}row  row  {{content_mod}}  is--heading">
				<div class="cols  is--search">
					{% include "../common/form/elem.twig" with {
						view: "search", 
						prefix:'form__', 
						mod:'', 
						color:'',
						placeholder:"Поиск по каталогу",
					} %}
				</div>
				<div class="cols  hidden--md">
					{% include "../common/button/btn.twig" with {
						view:"icon",
						prefix:"btn__", 
						mod:"", 
						icon:'icon-upload', 
						link:"#", 
						name:"Скачать" 
					} %}
				</div>
				<div class="cols  hidden--md">
					{% include "../common/button/btn.twig" with {
						view:"icon",
						prefix:"btn__", 
						mod:"", 
						icon:'icon-print', 
						link:"#", 
						name:"Напичатать" 
					} %}
				</div>
			</div>

			{% include "../common/informer/tpl.twig" with {
				prefix:"informer__", 
				status:"",  
				mod:"is--catalog",  
				name:"Выбрано 2 товара",
				btn_link:"#", 
				btn_name:"Удалить", 
				btn_mod:"is--sm", 
			} %}

			<div class="{{content_prefix}}grid  grid__row  {{content_mod}}  is--card">				
				{% include "../common/card/card.twig" with {
					view:	catalog_card_view,
					prefix:	prefix.card, 
					mod:	catalog_card_mod, 
					group:	catalog_card_group, 
					list: 	catalog_card,
				} %} 
			</div>

		</div>
	</section>
{% endif %}

{% if view == "cat_list" %}
	<section class="{{content_prefix}}content">
		<div class="{{content_prefix}}container container">
			{% include "../common/breadcrumb/tpl.twig" with {
				prefix:prefix.breadcrumb, 
				mod:bread_mod, 
				bread:bread
			} %}

			<div class="{{content_prefix}}row  row  {{content_mod}}  is--heading">
				<div class="cols">					
					{% include "../common/page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
				</div>
				<div class="cols  is--view  hidden--md">
					{% include "../common/button/btn.twig" with {
						view:"view",
						prefix:"btn__", 
						mod:"",  
						list: [
							{
								"name":"Таблицей", 
								"link":page.catalog_cat_list,
							},
							{
								"name":"Плиткой", 
								"link":page.catalog_cat,
							},
						]
					} %}
				</div>
			</div>

			<div class="{{content_prefix}}row  row  {{content_mod}}  is--heading">
				<div class="cols  is--search">
					{% include "../common/form/elem.twig" with {
						view: "search", 
						prefix:'form__', 
						mod:'', 
						color:'',
						placeholder:"Поиск по каталогу",
					} %}
				</div>
				<div class="cols  hidden--md">
					{% include "../common/button/btn.twig" with {
						view:"icon",
						prefix:"btn__", 
						mod:"", 
						icon:'icon-upload', 
						link:"#", 
						name:"Скачать" 
					} %}
				</div>
				<div class="cols  hidden--md">
					{% include "../common/button/btn.twig" with {
						view:"icon",
						prefix:"btn__", 
						mod:"", 
						icon:'icon-print', 
						link:"#", 
						name:"Напичатать" 
					} %}
				</div>
			</div>

			{% include "../common/informer/tpl.twig" with {
				prefix:"informer__", 
				status:"",  
				mod:"is--catalog",  
				name:"Выбрано 2 товара",
				btn_link:"#", 
				btn_name:"Удалить", 
				btn_mod:"is--sm", 
			} %}

			<div class="{{content_prefix}}grid  grid__row  {{content_mod}}  is--list">
				{% include "../common/card/card.twig" with {
					view:		catalog_card_view,
					prefix:		prefix.card, 
					mod:		catalog_card_mod, 
					group:		catalog_card_group, 
					list: 		catalog_card,
					checkbox: 	catalog_card_checkbox, 
				} %} 
			</div>

		</div>
	</section>
{% endif %}

{% if view == "card" %}
	<section class="{{content_prefix}}content">
		<div class="{{content_prefix}}container container">
			{% include "../common/breadcrumb/tpl.twig" with {
				prefix:prefix.breadcrumb, 
				mod:bread_mod, 
				bread:bread
			} %}

			<div class="{{content_prefix}}row  row  {{content_mod}}  is--heading">
				<div class="cols">					
					{% include "../common/page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
				</div>
				<div class="cols  is--code">
					{% if code %}
					<p class="{{prefix.card}}code  {{card_mod}}">{{code}}</p>
					{% endif %}
				</div>
			</div>

			<div class="{{content_prefix}}grid  grid__row  {{content_mod}}">
				<div>
					<div class="{{content_prefix}}slick  {{content_mod}}" data-slick-catalog-card>
						{% for sl in slider %}
						<picture class="{{prefix.card}}preview  {{card_mod}}">
							<img src="{{sl.img}}" class="img-responsive" alt="">
						</picture>
						{% endfor %}
					</div>

					{% if slider_nav == "true" %}
					<div class="{{content_prefix}}slick  {{content_mod}}" data-slick-catalog-card-nav>
						{% for sl in slider %}
						<picture class="{{prefix.card}}preview  {{card_mod}}-nav">
							<img src="{{sl.img}}" class="img-responsive" alt="">
						</picture>
						{% endfor %}
					</div>
					{% endif %}

					{% if note_short %}
					<div class="{{prefix.card}}note  {{content_mod}}">{{note_short}}</div>
					{% endif %}

					{% if size %}
					<div class="{{prefix.card}}size-wrap  {{content_mod}}  hidden--md">
						<div class="form__grid  grid__row  {{content_mod}}">
							{% include "../common/form/elem.twig" with {
								view:"radio", 
								prefix:'form__', 
								mod:"is--panel  is--desc", 
								color:"", 
								list: size,
							} %}
						</div>
					</div>
					{% endif %}
				</div>
				<div>
					<div>
						{% include "../common/tabs/tpl.twig" with {
							view:"base", 
							prefix:'tabs__', 
							mod:"",
							group:tabs_group,
							list: tabs,
						} %}
					</div>
					{% if informer %}
						{% include "../common/informer/tpl.twig" with {
							prefix:"informer__", 
							status:"",  
							mod:informer_type,  
							btn_link:"#", 
							btn_name:"В корзину", 
							btn_mod:"is--primary  is--full",
							modal:"Выбрать", 
							modal_prefix:"btn__", 
							modal_attr:'type="button" data-toggle="modal" data-target="#modal-select-basket"',
							modal_mod:"is--primary  is--full",
							cost_list_view:"catalog_cost_list",
							cost_list_mod: card_mod,
							cost_list:[
								{
									"name":"От 500 шт.",
									"value":"7 900 ₽",
								},
								{
									"name":"От 1 000 шт.",
									"value":"6 900 ₽",
								},
								{
									"name":"От 1 500 шт.",
									"value":"5 900 ₽",
								},
							], 
							qty:"5",
						} %}	
					{% endif %}				
				</div>
				{% if options %}
				<div class="is--full">	
					<div class="{{content_prefix}}grid  grid__row  {{content_mod}}  is--options">						
						{% include "../common/card/card.twig" with {
							view:"catalog",
							prefix:"card__", 
							mod:"is--catalog", 
							group:"is--view-list  is--options",
							list: options,
						} %}
					</div>
				</div>
				{% endif %}
				{% if options_table %}
				<div class="is--full">	
					<div class="{{content_prefix}}slick  {{content_mod}}" data-slick-catalog-card-table>
						{% include "../common/card/card.twig" with {
							view:"catalog",
							prefix:"card__", 
							mod:"is--catalog", 
							group:"is--view-table",
							list: options_table,
						} %}
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}