{% if view == "page" %}
	<section class="{{content_prefix}}content">
		<div class="{{content_prefix}}container container">			
			{% include "../common/page-header/elem.twig" with {
				prefix:"page-header__", 
				mod:heading_mod,
				attr:heading_attr, 
				level:heading_level, 
				heading:heading
			} %}
		</div>
	</section>
{% endif %}
{% if view == "card" %}
	<section class="{{content_prefix}}content">
		<div class="{{content_prefix}}container container">
			<div class="{{content_prefix}}grid  grid__row  is--aside-left">
				<div data-grid-heading>
					{% include "../common/button/btn.twig" with {
						view:"link_back",
						prefix:"btn__", 
						mod:"",  
						link:back_link,
						name:back_name
					} %}		
					{% include "../common/page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
				</div>

				<div data-grid-content>
					<div class="{{content_prefix}}section  {{content_mod}}">
						<h2 class="page-header__heading  is--page-default-sm">Счета</h2>	
						{% include "../common/table/tpl.twig" with {
							prefix:"table",
							mod: "",
							head:[
								{
									"name":"Название",
									"mod":"is--account-name",
								},
								{
									"name":"Детально",
									"mod":"",
								},
								{
									"name":"Сумма",
									"mod":"",
								}, 
								{
									"name":"Статус",
									"mod":"is--status",
								},
							],
							body:[
								{
									"tr":[
										{
											"td":[
												{"name": 'Счёт №30 от 12.01.2020'},
												{"name": 'Заказ №108'},
												{"name": '8 180 ₽'},
												{"name": 'Не оплачен'},
											],
										}
									],
								},
								{
									"tr":[
										{
											"td":[
												{"name": 'Счёт №30 от 12.01.2020'},
												{"name": 'Заказ №108'},
												{"name": '8 180 ₽'},
												{"name": 'Не оплачен'},
											],
										}
									],
								},
								{
									"tr":[
										{
											"td":[
												{"name": 'Счёт №30 от 12.01.2020'},
												{"name": 'Заказ №108'},
												{"name": '8 180 ₽'},
												{"name": 'Не оплачен'},
											],
										}
									],
								},
								{
									"tr":[
										{
											"td":[
												{"name": 'Счёт №30 от 12.01.2020'},
												{"name": 'Заказ №108'},
												{"name": '8 180 ₽'},
												{"name": 'Не оплачен'},
											],
										}
									],
								},
								{
									"tr":[
										{
											"td":[
												{"name": 'Счёт №30 от 12.01.2020'},
												{"name": 'Заказ №108'},
												{"name": '8 180 ₽'},
												{"name": 'Не оплачен'},
											],
										}
									],
								},
							],
						} %}
					</div>
					<div class="{{content_prefix}}section  {{content_mod}}">
						<h2 class="page-header__heading  is--page-default-sm">Реквизиты компании</h2>
						{% include "../common/infocard/tpl.twig" with {
							prefix:"infocard__", 
							heading: 'Грудев Максим Андреевич',
							more_mod: 'is--right',
							more_list: [
								{
									"name":"Повторить", 
									"tag":"button", 
									"attr":'type="button"  data-toggle="modal" data-target="#modal-edit"',
									"class":'btn__item  is--primary  is--sm',
								},
								{
									"name":"Отменить", 
									"tag":"button", 
									"attr":'type="button"',
									"class":'btn__item  is--sm',
								},
							],
							list: [
								{
									"term":"ИНН", 
									"def":"032625174652"
								},
								{
									"term":"ОГРНИП", 
									"def":"316032700050157"
								},
								{
									"term":"ОКПО", 
									"def":"0200885960"
								},
								{
									"term":"ОКВЭД", 
									"def":"62.01"
								},
								{
									"term":"Дата регистрации", 
									"def":"13.01.2016 в 00:00:00+03:00"
								},
								{
									"term":"Сокращённое название организации", 
									"def":"MWS Agency"
								},
							]
						} %}		
					</div>
					<div class="{{content_prefix}}section  {{content_mod}}">
						<h2 class="page-header__heading  is--page-default-sm">Расчётные счета</h2>
						{% include "../common/infocard/tpl.twig" with {
							prefix:"infocard__", 
							heading: 'Банковские реквизиты',
							preview: [path.img,"/default/catalog-lock.jpg"].join(""),
							more_mod: 'is--right',
							more_list: [
								{
									"name":"Повторить", 
									"tag":"button", 
									"attr":'type="button"  data-toggle="modal" data-target="#modal-edit"',
									"class":'btn__item  is--primary  is--sm',
								},
								{
									"name":"Отменить", 
									"tag":"button", 
									"attr":'type="button"',
									"class":'btn__item  is--sm',
								},
							],
							list: [
								{
									"term":"Наименование банка", 
									"def":"Альфабанк",
									"preview": [path.img,"/default/catalog-lock.jpg"].join(""),
								},
								{
									"term":"Адрес банка", 
									"def":"АО «Альфа-банк» г. Москва"
								},
								{
									"term":"Расчётный счёт", 
									"def":"4080 2810 5026 8000 0412"
								},
								{
									"term":"Валюта счёта", 
									"def":"RUB"
								},
								{
									"term":"БИК", 
									"def":"044525593"
								},
								{
									"term":"Кор. счёт", 
									"def":"3010 1810 2000 0000 0593"
								},
							]
						} %}
						{% include "../common/infocard/tpl.twig" with {
							prefix:"infocard__", 
							heading: 'Банковские реквизиты',
							preview: [path.img,"/default/catalog-lock.jpg"].join(""),
							more_mod: 'is--right',
							more_list: [
								{
									"name":"Повторить", 
									"tag":"button", 
									"attr":'type="button"  data-toggle="modal" data-target="#modal-edit"',
									"class":'btn__item  is--primary  is--sm',
								},
								{
									"name":"Отменить", 
									"tag":"button", 
									"attr":'type="button"',
									"class":'btn__item  is--sm',
								},
							],
							list: [
								{
									"term":"Наименование банка", 
									"def":"Открытие",
									"preview": [path.img,"/default/catalog-lock.jpg"].join(""),
								},
								{
									"term":"Адрес банка", 
									"def":"АО «Открытие» г. Москва"
								},
								{
									"term":"Расчётный счёт", 
									"def":"4080 2810 5026 8000 0412"
								},
								{
									"term":"Валюта счёта", 
									"def":"RUB"
								},
								{
									"term":"БИК", 
									"def":"044525593"
								},
								{
									"term":"Кор. счёт", 
									"def":"3010 1810 2000 0000 0593"
								},
							]
						} %}
						{% include "../common/infocard/tpl.twig" with {
							prefix:"infocard__", 
							heading: 'Банковские реквизиты',
							preview: [path.img,"/default/catalog-lock.jpg"].join(""),
							more_mod: 'is--right',
							more_list: [
								{
									"name":"Повторить", 
									"tag":"button", 
									"attr":'type="button"  data-toggle="modal" data-target="#modal-edit"',
									"class":'btn__item  is--primary  is--sm',
								},
								{
									"name":"Отменить", 
									"tag":"button", 
									"attr":'type="button"',
									"class":'btn__item  is--sm',
								},
							],
							list: [
								{
									"term":"Наименование банка", 
									"def":"Тинькофф банк",
									"preview": [path.img,"/default/catalog-lock.jpg"].join(""),
								},
								{
									"term":"Адрес банка", 
									"def":"АО «Тинькофф банк» г. Москва"
								},
								{
									"term":"Расчётный счёт", 
									"def":"4080 2810 5026 8000 0412"
								},
								{
									"term":"Валюта счёта", 
									"def":"RUB"
								},
								{
									"term":"БИК", 
									"def":"044525593"
								},
								{
									"term":"Кор. счёт", 
									"def":"3010 1810 2000 0000 0593"
								},
							]
						} %}
						{% include "../common/button/btn.twig" with {
							view:"btn",
							prefix:"btn__", 
							attr:'data-toggle="modal" data-target="#modal-edit"',
							mod:"is--full",  
							icon:"icon-add",  
							name:"Реквизиты"
						} %}	

					</div>
					<div class="{{content_prefix}}section  {{content_mod}}">
						<h2 class="page-header__heading  is--page-default-sm">Адреса</h2>
						{% include "../common/infocard/tpl.twig" with {
							prefix:"infocard__", 
							heading: 'Фактический адрес',
							more_mod: 'is--right',
							more_list: [
								{
									"name":"Повторить", 
									"tag":"button", 
									"attr":'type="button"  data-toggle="modal" data-target="#modal-edit"',
									"class":'btn__item  is--primary  is--sm',
								},
								{
									"name":"Отменить", 
									"tag":"button", 
									"attr":'type="button"',
									"class":'btn__item  is--sm',
								},
							],
							list: [
								{
									"term":"Улица, дом, корпус, строение", 
									"def":"Путейская, 4",
								},
								{
									"term":"Квартира / офис", 
									"def":"63"
								},
								{
									"term":"Город", 
									"def":"Владивосток"
								},
								{
									"term":"Почтовый индекс", 
									"def":"690039"
								},
								{
									"term":"Район", 
									"def":"Приморский край"
								},
								{
									"term":"Область", 
									"def":"Республика Бурятия"
								},
								{
									"term":"Страна", 
									"def":"Россия"
								},
								{
									"term":"Идентификатор адреса местоположения", 
									"def":"0"
								},
							]
						} %}
						{% include "../common/button/btn.twig" with {
							view:"btn",
							prefix:"btn__", 
							attr:'data-toggle="modal" data-target="#modal-edit"',
							mod:"is--full",  
							icon:"icon-add",  
							name:"Адрес регистрации"
						} %}
						{% include "../common/button/btn.twig" with {
							view:"btn",
							prefix:"btn__", 
							attr:'data-toggle="modal" data-target="#modal-edit"',
							mod:"is--full",  
							icon:"icon-add",  
							name:"Юридический адрес"
						} %}
						{% include "../common/button/btn.twig" with {
							view:"btn",
							prefix:"btn__", 
							attr:'data-toggle="modal" data-target="#modal-edit"',
							mod:"is--full",  
							icon:"icon-add",  
							name:"Адрес бенефициара"
						} %}
						{% include "../common/button/btn.twig" with {
							view:"btn",
							prefix:"btn__", 
							attr:'data-toggle="modal" data-target="#modal-edit"',
							mod:"is--full",  
							icon:"icon-add",  
							name:"Адрес доставки"
						} %}
					</div>
				</div>
				<div data-grid-manager>
					{% include "../common/manager/tpl.twig" with {
						view:"company", 
						prefix:"manager__", 
						mod:"is--company",  
						heading: 'Ответственный менеджер',
						preview: [path.img,"/default/catalog-lock.jpg"].join(""),
						name: 'Мария Вишневская',
						phone: '+79991234567',
						email: 'wishnewsky@gmail.com',
					} %}					
				</div>
			</div>
		</div>
	</section>
{% endif %}