{% if view == "empty" %}
	<section class="{{content_prefix}}content  {{content_mod}}" {% if bg %}style="background-image: url({{bg}})"{% endif %}>
		<div class="{{content_prefix}}container container">			
			<div class="{{content_prefix}}row  row  {{content_mod}}  is--heading">
				<div class="cols">
					{% include "../common/page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
				</div>
				{% if more %}
				<div class="cols  is--more  hidden--md">				
					{% include "../common/button/btn.twig" with {
						view:"more",
						prefix:"btn__", 
						mod:"is--right",  
						link:"#",
						list: more
					} %}
				</div>
				{% endif %}
			</div>
			<div class="{{content_prefix}}btn  {{content_mod}}">
				{% include "../common/button/btn.twig" with {
					prefix:"btn__", 
					view:btn_view,
					mod:btn_mod,  
					link:btn_link,
					name:btn_name,
				} %}
			</div>
		</div>
	</section>
{% endif %}