{% if view == "page" %}
	<section class="{{content_prefix}}content">
		<div class="{{content_prefix}}container container">	
			<div class="{{content_prefix}}grid  grid__row  {{content_mod}}">
				<div data-grid-preview>
					{% include "../common/form/elem.twig" with {
						view: "photo", 
						prefix:'form__',
						form_id:"profile",
						id:"photo",
						icon:"icon-photo",
						name:"Загрузите ваше фото",
						name:"Загрузите или перетащите ваше фото",
					} %} 
				</div>		
				<div data-grid-heading>		
					{% include "../common/page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
					{% include "../common/page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:company_mod,
						attr:company_attr, 
						level:company_level, 
						heading:company
					} %}
				</div>
				<div data-grid-more>	
					{% include "../common/button/btn.twig" with {
						view:"more",
						prefix:"btn__", 
						mod:"is--right",  
						link:"#",
						list: more
					} %}
				</div>
				<div data-grid-decs>
					<div class="{{contacts_prefix}}row row  is--gap-xl  {{contacts_mod}}">
						{% for c in contacts_list %}
						<div class="{{contacts_prefix}}item  cols  {{contacts_mod}}  {{c.mod}}">
							<p class="{{contacts_prefix}}heading  {{contacts_mod}}">{{c.heading}}</p>
							<p class="{{contacts_prefix}}desc  {{contacts_mod}}">{{c.desc}}</p>
						</div>
						{% endfor %}
					</div>
				</div>		
			</div>
			{% include "../common/tabs/tpl.twig" with {
				view:"base", 
				prefix:'tabs__', 
				mod:"is--sm",
				group:content_mod,
				dropdown:"true",
				list: [
					{
						"id":"tabs1",  
						"status":"", 
						"name":"Основные",  
					},
					{
						"id":"tabs2",  
						"status":"", 
						"name":"Главная",  
					},
					{
						"id":"tabs3",  
						"status":"", 
						"name":"Сделки",  
					},
					{
						"id":"tabs4",  
						"status":"active", 
						"name":"Авторизации",  
						"type":"table",  
						"table_head":"table_head",  
						"table_body":"table_body",  
					},
					{
						"id":"tabs5",  
						"status":"", 
						"name":"Компании",  
					},
					{
						"id":"tabs6",  
						"status":"", 
						"name":"Сотрудники",  
					},
					{
						"id":"tabs7",  
						"status":"", 
						"name":"Каталог",  
					},
					{
						"id":"tabs8",  
						"status":"", 
						"name":"Задачи",  
					},
					{
						"id":"tabs9",  
						"status":"", 
						"name":"Документы",  
					},
				]
			} %}
		</div>
	</section>
{% endif %}