{% if view == "page" %}
	<section class="{{content_prefix}}content">
		<div class="{{content_prefix}}container container">	
			<div class="{{content_prefix}}row  row  is--page-default  is--heading">
				<div class="cols">		
					{% include "../common/page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
				</div>
				<div class="cols  is--add">
					{% include "../common/button/btn.twig" with {
						view:"btn",
						prefix:"btn__", 
						attr:'data-toggle="modal"',
						mod:"is--add",  
						icon:"icon-add",  
						name:"Создать"
					} %}
				</div>		
			</div>
			{% include "../common/table/tpl.twig" with {
				prefix:"table",
				mod: "",
				head:[
					{
						"name":"Название",
						"mod":"",
						"sort":"true",
						"attr":'style="width: 18.3%"',
					},
					{
						"name":"Статус",
						"mod":"",
						"sort":"true",
						"attr":'style="width: 23%"',
					},
					{
						"name":"Компания",
						"mod":"",
						"sort":"true",
						"attr":'style="width: 20.4%"',
					}, 
					{
						"name":"Менеджер",
						"mod":"",
						"sort":"true",
						"attr":'style="width: 17%"',
					},
					{
						"name":"Дата создания",
						"mod":"",
						"sort":"true",
						"attr":'style="width: 14%"',
					},
					{
						"name":"Сумма",
						"mod":"",
						"sort":"true",
					},
				],
				body:[
					{
						"tr":[
							{
								"link":page.project_card,
								"td":[
									{"name": 'Проект №13-10/2020'},
									{"progress": '50'},
									{"name": 'Bessie Cooper'},
									{"name": 'Jenny Wilson'},
									{"name": '30.10.2020'},
									{"name": '9 500 ₽'},
								],
							}
						],
					},
					{
						"tr":[
							{
								"link":page.project_card,
								"td":[
									{"name": 'Проект №13-10/2020'},
									{"progress": '50'},
									{"name": 'Darlene Robertson'},
									{"name": 'Leslie Alexander'},
									{"name": '30.10.2020'},
									{"name": '23 500 ₽'},
								],
							}
						],
					},
				],
			} %}
		</div>
	</section>
{% endif %}
{% if view == "card" %}
	<section class="{{content_prefix}}content">
		<div class="{{content_prefix}}container container">
			<div class="{{content_prefix}}grid  grid__row  is--aside-left">
				<div data-grid-heading>
					{% include "../common/button/btn.twig" with {
						view:"link_back",
						prefix:"btn__", 
						mod:"",  
						link:back_link,
						name:back_name
					} %}
					<div class="{{content_prefix}}row  row  {{content_mod}}  is--heading">
						<div class="cols">								
							{% include "../common/page-header/elem.twig" with {
								prefix:"page-header__", 
								mod:heading_mod,
								attr:heading_attr, 
								level:heading_level, 
								heading:heading
							} %}
						</div>
						<div class="cols  is--more"> 
							{% include "../common/button/btn.twig" with {
								view:"more",
								prefix:"btn__", 
								mod:"is--right",  
								link:"#",
								list: [
									{
										"name":"Повторить", 
										"tag":"button", 
										"attr":'type="button"',
										"class":'btn__item  is--primary  is--sm',
									},
									{
										"name":"Отменить", 
										"tag":"button", 
										"attr":'type="button"',
										"class":'btn__item  is--sm',
									},
								]
							} %}
						</div>
						
					</div>	
					{% include "../common/progress/tpl.twig" with {
						prefix:"progress__", 
						mod:"",
						group:content_mod,
						completed:"50",
						status: 'В работе',
						finish: '30.10.2020',
					} %}
				</div>

				<div data-grid-content>

					<div class="{{content_prefix}}section  {{content_mod}}">
						<div class="{{content_prefix}}row  row  {{content_mod}}  is--section">
							<div class="cols">
								<h2 class="page-header__heading">Задачи</h2>
							</div>
							<div class="cols  is--view">
								{% include "../common/button/btn.twig" with {
									view:"view",
									prefix:"btn__", 
									mod:"",  
									list: [
										{
											"name":"Списком", 
											"link":"#",
										},
										{
											"name":"Гант", 
											"link":"#1",
										},
									]
								} %}
							</div>
						</div>	
						{% include "../common/table/tpl.twig" with {
							prefix:"table",
							mod: "",
							head:[
								{
									"name":"Название",
									"mod":"is--account-name",
								},
								{
									"name":"Дата начала",
									"mod":"",
								},
								{
									"name":"Дата завершения",
									"mod":"",
								}, 
								{
									"name":"Статус",
									"mod":"is--status",
								},
							],
							body:[
								{
									"tr":[
										{
											"td":[
												{"name": 'Разработка сайта'},
												{"name": '24.10.2020'},
												{"name": '24.11.2020'},
												{"name": ''},
											],
										}
									],
								},
								{
									"tr":[
										{
											"td":[
												{"name": 'Концепт'},
												{"name": '24.10.2020'},
												{"name": '24.11.2020'},
												{"name": ''},
											],
										}
									],
								},
								{
									"tr":[
										{
											"td":[
												{"name": 'Дизайн'},
												{"name": '24.10.2020'},
												{"name": '24.11.2020'},
												{"name": ''},
											],
										}
									],
								},
							],
						} %}
					</div>

					<div class="{{content_prefix}}section  {{content_mod}}">
						<h2 class="page-header__heading  is--page-default-sm">Счета</h2>	
						{% include "../common/table/tpl.twig" with {
							prefix:"table",
							mod: "",
							head:[
								{
									"name":"Название",
									"mod":"is--account-name",
								},
								{
									"name":"Детально",
									"mod":"",
								},
								{
									"name":"Сумма",
									"mod":"",
								}, 
								{
									"name":"Статус",
									"mod":"is--status",
								},
							],
							body:[
								{
									"tr":[
										{
											"td":[
												{"name": 'Счёт №30 от 12.01.2020'},
												{"name": 'Заказ №108'},
												{"name": '8 180 ₽'},
												{"name": 'Не оплачен'},
											],
										}
									],
								},
							],
						} %}
					</div>

					<div class="{{content_prefix}}section  {{content_mod}}">
						<h2 class="page-header__heading  is--page-default-sm">Документы</h2>	
						{% include "../common/table/tpl.twig" with {
							prefix:"table",
							mod: "",
							head:[
								{
									"name":"Название",
									"mod":"",
								}, 
								{
									"name":"Дата",
									"mod":"is--status",
								},
							],
							body:[
								{
									"tr":[
										{
											"td":[
												{"name": 'Договор оказания услуг (Россия) 1'},
												{"name": '23.10.2020'},
											],
										}
									],
								},
							],
						} %}
					</div>

					<div class="{{content_prefix}}section  {{content_mod}}">
						<h2 class="page-header__heading  is--page-default-sm">Состав заказа</h2>	
						{% include "../common/table/tpl.twig" with {
							prefix:"table",
							mod: "",
							head:[
								{
									"name":"Название",
									"mod":"",
								}, 
								{
									"name":"Количество",
									"mod":"",
								}, 
								{
									"name":"Стоимость",
									"mod":"is--status",
								},
							],
							body:[
								{
									"tr":[
										{
											"td":[
												{"name": 'Реорганизация юридических лиц'},
												{"name": '1'},
												{"name": '0.00 ₽'},
											],
										}
									],
								},
								{
									"tr":[
										{
											"td":[
												{"name": 'Абонентское юридическое обслуживание'},
												{"name": '1'},
												{"name": '1500.00 ₽'},
											],
										}
									],
								},
								{
									"tr":[
										{
											"td":[
												{"name": 'Правовой анализ документов'},
												{"name": '1'},
												{"name": '1500.00 ₽'},
											],
										}
									],
								},
								{
									"tr":[
										{
											"td":[
												{"name": 'Представительство в суде'},
												{"name": '1'},
												{"name": '1500.00 ₽'},
											],
										}
									],
								},
							],
						} %}
					</div>
				</div>

				<div data-grid-aside>
					<div class="{{content_prefix}}section  {{content_mod}}-sm">
						{% include "../common/manager/tpl.twig" with {
							view:"company", 
							prefix:"manager__", 
							mod:"is--company",  
							heading: 'Ответственный менеджер',
							preview: [path.img,"/default/catalog-lock.jpg"].join(""),
							name: 'Мария Вишневская',
							phone: '+79991234567',
							email: 'wishnewsky@gmail.com',
						} %}
					</div>
					<div class="{{content_prefix}}section  {{content_mod}}-sm  visible--md">
						<div class="row">
							<div class="cols">
								{% include "../common/button/btn.twig" with {
									view:"btn",
									prefix:"link__", 
									attr:'data-toggle="modal" data-target="#modal-chat"',
									mod:"is--full",   
									name:"Чат с менеджером"
								} %}
							</div>							
							<div class="cols">
								{% include "../common/button/btn.twig" with {
									view:"btn",
									prefix:"link__", 
									attr:'data-toggle="modal" data-target="#modal-events"',
									mod:"is--full",   
									name:"Лента событий"
								} %}
							</div>							
						</div>
					</div>
					<div class="{{content_prefix}}section  {{content_mod}}-sm  is--tabs">	
						{% include "../common/tabs/tpl.twig" with {
							view:"base", 
							prefix:'tabs__', 
							mod:"",
							list: [
								{
									"id":"tabs1",  
									"status":"", 
									"name":"Чат с менеджером", 
									"type":"chat",  
									"chat":chat,  
								},
								{
									"id":"tabs2",  
									"status":"active", 
									"name":"Лента событий",  
									"type":"events",  
									"list":events_list
								}
							]
						} %}				
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}