<div class="{{prefix}}panel  {{mod}}  {{status}}">
	<p class="{{prefix}}name  {{mod}}">{{name}}</p>
	{% if modal %}
	<div class="{{prefix}}modal  {{mod}}"></div>
	{% endif %}
	<div class="{{prefix}}btn  {{mod}}">
		{% include "../button/btn.twig" with {
			view:"link",
			prefix:"btn__", 
			mod:btn_mod,  
			link:btn_link,
			name:btn_name,
		} %}
	</div>
</div>