{% if view == "base" %}
<div class="{{prefix}}panel">
	<ul class="{{prefix}}nav  {{mod}}">
		{% for value in list %}
		<li class="{{prefix}}item  {{mod}}  {{value.status}}">
			<a class="{{prefix}}link  {{mod}}" href="#{{value.id}}" data-toggle="tab">{{value.name}}</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% for value in list %}
<div class="{{prefix}}pane  {{value.status}}" id="{{value.id}}">
	{{value.text}}
	{% if value.type == "events" %}
		{% include "../events/tpl.twig" with {
			prefix:"events__", 
			mod: '',
			list: value.list 
		} %}	
	{% endif %}
	{% if value.type == "chat" %}
		{% include "../chat/tpl.twig" with {
			prefix:"chat__",
			chat: chat
		} %}	
	{% endif %}
</div>
{% endfor %}
{% endif %}