{% if mod != "is--footer" %}
<div class="{{prefix}}block">
	<div class="{{prefix}}row row  {{mod}}">
{% endif %}
		{% if mod == "is--footer" %}
		<div class="footer__cols cols  {{mod}}">
			{% include "../social/tpl.twig" with {prefix:"social__", mod:"is--footer", list: [{"name":"soc-vk", "link":soc.vk},{"name":"soc-inst", "link":soc.inst}]} %} 
		</div>
		{% endif %}
		<div class="{{prefix}}cols cols  {{mod}}">
			<a href="tel:{{contacts.phone_tel}}" class="{{prefix}}item   {{mod}}">
				<span class="{{prefix}}item-icon  {{mod}}">{% include "../svg-sprite/svg.twig" with {icon:"contacts-tel"} %}</span>
				<span class="{{prefix}}item-name  {{mod}}">{{contacts.phone}}</span>
			</a>
		</div>
{% if mod != "is--footer" %}
	</div>
</div>
{% endif %}